# Search Engine Optimization
# The base URL of your website. Update this to your production domain when deploying.
NEXT_PUBLIC_BASE_URL = http://localhost:3000

# The ID for your Google Tag Manager container. Replace with your actual GTM ID.
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID = 

# The token for Google Site Verification. Replace with your actual verification code.
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION = 
